p{
    color: orange;
    border: 1px solid black;
}
li a{
    color: orange;
}
div img{
    box-shadow: 0px 0px 16px 16px rgba(187, 83, 21, 0.29);
}
h2{
    background-color: black;
    color: white;
}
a{
    color: greenyellow;
}
button{
    margin-right: 20px;
    padding: 10 px 30px;
    cursor: pointer;
    border-radius: 30;
}
