p{
    color: darkred;
    box-shadow: 15px 34px 21px 2px rgba(0, 0, 0, 0.35);
}
h1{
    color: forestgreen;
    border: 2px solid black;
    background-color: gold;
}
a{
    color: brown;
    text-decoration: none;
}
ul{
list-style: none;
}
p{
    border: solid blueviolet;
    text-align: center;
}
p a{
    color: blue;
}
img{
    box-shadow: 9px 16px 50px 23px rgba(239, 36, 0, 0.35);  
}