*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
.conteiner{
    margin: 0 auto;
    max-width: 1500px;
    height: 800px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    height: 100%;
}

.box {
    height: 100%;
}
.col-3{
    width: 25%;
    padding: 15px;
    height: 100%;
}

.col-6{
    width: 50%;
    padding: 15px;
}

.col-12{ 
    width: 100%;
    padding: 15px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}
.orange{
    height: 218px;
    background-color: red;
}
.peach{
    background-color: green;
    height: 490px;
    margin: 15px;
}