.box-first{
    width: 200px;
    height: 100px;
    background-color: white;
}
.box-second{
    width: 200px;
    height: 100px;
    background-color: blue
}
.box-third{
    width: 200px;
    height: 100px;
    background-color: rgb(250, 15, 15)
}
body{
    background: url(./140520040122.jpg);
}